@import '../../App.scss';

#AdminMain{
    width: 90%;
    margin: 0 auto;
}

.adminProductContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-block: 30px;
    
    &.list{
        grid-template-columns: auto;
        gap: 15px;
        & article:nth-child(even){
            background-color: $bg-blue;
        }
    }
}

.adminControlsContainer{
    margin-block: 30px;
    display: flex;
    align-items: center;
    button{
        background-color: $text-blue;
        border: none;
        padding: 10px 20px;
    }
    div > svg{
        cursor: pointer;
        margin-inline: 10px;
    }
}

.product.list{
    flex-direction: row;
    align-items: center;
    p{
        margin: 0;
    }
}